.TRANSACTION_TYPES-- {
    display: flex;
    justify-content: center;
    > .inner {
        width: calc(100% - 80px);
        max-width: 70rem;
        // display: flex;
        border: 1px solid #eee;
        > .categories {
            display: flex;
            align-items: stretch;
            > .income,
            .expenses {
                width: 50%;
                > .list {
                    border-top: 1px solid #eee;
                    > .eachIncomeCategory, .eachExpenseCategory {
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 1.4rem;
                        font: 400 1.6rem/2rem Arial;
                        border-bottom: 1px solid #eee;
                        > .deleteBtn{
                            > img{
                                width: 1.5rem;
                            }
                        }
                    }
                }
            }
            > .income {
                border-right: 1px solid #eee;
            }
        }
        > .addCategoryRow {
            display: flex;
            margin-bottom: -1px;
            margin-top: -1px;
            > input {
                padding-left: 1.6rem;
                height: 3rem;
                border: none;
                border-bottom: 1px solid #eee;
                border-top: 1px solid #eee;
                width: 50%;
                font: 400 1.6rem/2rem Arial;
                outline: none !important;
                &:last-child {
                    border-left: 1px solid #eee;
                }
            }
        }
    }
}

.customRadio {
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196f3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
}
