.editTransactionModal.modal-dialog{
    margin-top: 3rem;
    max-width: 46rem;
    > .modal-content{
    border-radius: 0.6rem;
        > .modalTitle{
            text-align: center;
            padding: 2rem 1rem 0 1rem;
            font: 500 2rem/2rem Roboto;
        }
        > .modalBody{
            padding: 1.6rem;
            padding-top: 0.4rem;
            > .field{
                margin-top: 1.6rem;
                font: 400 1.4rem/1.8rem Roboto;
                > .label{
                    color: #000000A3;
                    font: 400 1.4rem/1.8rem Roboto;
                    margin-bottom: 0.6rem;
                }
                > input{
                    width: 100%;
                    padding: 0 1rem;
                    border: 1px solid #00000029;
                    height: 4.2rem;
                    border-radius: 0.6rem;
                    font: 400 1.6rem/2rem Roboto;
                }
                > .toggleButtons{
                    > button{
                        height: 3.6rem;
                        padding: 0 1.6rem;
                        font: 400 1.6rem/2rem Roboto;
                        border: 1px solid #00000029;
                        outline: none;
                        color: #000000A3;
                        background: rgb(247, 247, 247);
                        &.highlight{
                            border: 1px solid #00000085;
                            background: #eee;
                        }
                        &:first-child{
                            border-radius: 0.6rem 0 0 0.6rem;
                        }
                        &:last-child{
                            border-radius: 0 0.6rem 0.6rem 0;
                        }
                    }
                }
                > .dropdownWrapper{
                    .categoryPopup{
                        > .btn{
                            height: 3.6rem;
                            padding: 0 1rem;
                            border: 1px solid #00000029;
                            color: #274444;
                            font: 400 1.6rem/2rem Roboto;
                            background: white;
                            outline: none;
                            box-shadow: none;
                            border-radius: 0.6rem;
                            > img{
                                margin-left: 1.6rem;
                            }
                        }
                    }
                }
            }
            > .submit{
                margin-top: 1.6rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                > button{
                    margin-left: 1rem;
                    height: 4.2rem;
                    padding: 0 1.6rem;
                    font: 400 1.6rem/2rem Roboto;
                    border: 1px solid #00000029;
                    outline: none;
                    color: #000000A3;
                    background: rgb(247, 247, 247);
                    border-radius: 0.6rem;
                    &:last-child{
                        background: #26AADD;
                        color: white;
                    }
                }
            }
        }
    }
}