.sheets-- {
    display: flex;
    justify-content: center;
    > .inner {
        width: calc(100% - 80px);
        max-width: 70rem;
        // display: flex;
        border: 1px solid #eee;
    }
}
