.App {
  text-align: center;
}

html{
  font-size: 10px;
}

body{
  font-size: 14px;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  .topNavbar{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 5px 0px #ccc;
    > a{
      display: inline-block;
      padding: 0 1rem;
      font: 400 1.6rem/2rem Arial;
      text-decoration: none;
    }
  }
  .content{
    margin-top: 5rem;
  }
}