.TRANSACTIONS-- {
    > .componentHeader{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        .balance {
            margin: 0;
            margin-top: 25px;
        }
        > input{
            height: 3rem;
        }
    }
    .allTransactions {
        margin-top: 3.2rem;
        display: flex;
        justify-content: center;
        padding: 0 2rem;
        > .incomeSection,
        .expensesSection {
            display: grid;
            grid-template-columns: 8rem auto 10rem 10rem 6rem;
            grid-row-gap: 0.3rem;
            height: max-content;
            // align-items: center;
            width: 50%;
            > h4.date {
                margin: 0;
                margin-right: 10px;
                width: 8rem;
                font: 400 1.2rem/2rem Roboto;
                border-bottom: 1px dashed #ccc;
            }
            > h3.title {
                margin: 0;
                padding-right: 10px;
                // width: 300px;
                text-align: left;
                font: 400 1.6rem/2rem Roboto;
                border-bottom: 1px dashed #ccc;

            }
            > h4.amount {
                margin: 0;
                padding-right: 10px;
                font: 400 1.6rem/2rem Roboto;
                text-align: right;
                border-bottom: 1px dashed #ccc;

            }
            > .categoryLabel{
                font: 400 1.2rem/2rem Roboto;
                border-bottom: 1px dashed #ccc;

            }
            > .editAndDeleteButtons{
                display: flex;
                align-items: center;
                border-bottom: 1px dashed #ccc;
                > button{
                    padding: 0;
                    width: 2.2rem;
                    height: 2.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 0.4rem;
                    margin-right: 0.4rem;
                    > img{
                        width: 1.3rem;
                    }
                }
            }
            > .enterTransaction{
                margin: 0 auto;
                background: #a6768c;
                // background: #786d78;
                // background: #d9a491;
                border: none;
                padding: 0 1rem;
                width: max-content;
                height: 2.4rem;
                display: flex;
                align-items: center;
                border-radius: 0.4rem;
                > img{
                    height: 1.6rem;
                }
            }
        }
        > .incomeSection{
            border-right: 1px solid rgb(199, 199, 199);
            padding-right: 2rem;
            margin-right: 2rem;
        }
        > h4.date {
            margin: 0;
            margin-right: 10px;
            width: 100px;
        }
        > h3.title {
            margin: 0;
            margin-right: 10px;
            width: 300px;
            text-align: left;
        }
        > h4.amount {
            margin: 0;
            margin-right: 10px;
        }
        > .categoryPopup {
            margin-right: 1rem;
        }
        > .morePopup.dropdown {
            > .btn {
                padding: 0.2rem 0.4rem;
                > img {
                    height: 1.4rem;
                }
            }
        }
    }
    .morePopup.dropdown {
        > .btn {
            padding: 0.2rem 0.4rem;
            background: white !important;
            border: none;
            outline: none !important;
            box-shadow: none !important;
            > img {
                height: 1.4rem;
            }
        }
    }
}
